<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="/css/theme.css">
    </head>
    <body>
		
		<section>
			<ul data-entity="comment" data-query-limit="5">
				<li><p><span>{ author }: </span>Lorem Ipsum</p></li>
				<li><p><span>{ author }: </span>Lorem Ipsum</p></li>
				<li><p><span>{ author }: </span>Lorem Ipsum</p></li>
				<li><p><span>{ author }: </span>Lorem Ipsum</p></li>
				<li><p><span>{ author }: </span>Lorem Ipsum</p></li>
				<li><p><span>{ author }: </span>Lorem Ipsum</p></li>
			</ul>
		</section>

    </body>
</html>
